#icon{
    margin-left: 30%;
}
#form{
    text-align: center;
    margin-left: 1%;
}

#icon2{
    margin-left: 5%;
    padding-inline: 10px;
}
#form2{
    text-align: center;
    border: 10%;
}

#heading{

}

#icon3{
    padding: auto;

}
.form4{
   
    display: grid;
    grid-template-columns: 60%60%;
    
    
}
.text{
    color: blueviolet;
}
.labels{
    display: flex;
    flex-direction: row;
    gap: 5%;
}
#icons{
    
    height: 500%;
    width: 5%;
}
.input{
    border-width: solid 1px;
    width: 50%;
    padding: 22px 30px;
}

