#icon{
    margin-left: 30%;
}
#form{
    text-align: center;
    margin-left: 1%;
}

#icon2{
    margin-left: 5%;
    padding-inline: 10px;
}
#form2{
    text-align: center;
    border: 10%;
}

#heading{
    color: blueviolet;

}


#icon3{
    padding: auto;

}
.form4{
    border: none;
   border-right: solid 3px blueviolet;
    display: grid;
    grid-template-columns: 50% 50%;
    padding:15px;
    margin:auto;    
    
}
.text{
    color: blueviolet;
}
.labels{
    display: flex;
    flex-direction: row;
    gap: 5%;
}
#icons{
    grid-template-rows: auto;
    height: 500%;
    width: 5%;
}
.input{
    border-width: solid 1px;
    width: 50%;
    padding: 22px 30px;
}


